<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1023404058718-538u125lg1a0aub5q21mv7d5hmkm3rhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023404058718-538u125lg1a0aub5q21mv7d5hmkm3rhk</string>
	<key>API_KEY</key>
	<string>AIzaSyDlab6fCKOfy1XGj0EclC2g51J9kkMa2Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>1023404058718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rishabh-Mudradi.FBLA</string>
	<key>PROJECT_ID</key>
	<string>fbla-4cb61</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-4cb61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023404058718:ios:587934f2e8ea648e</string>
	<key>DATABASE_URL</key>
	<string>https://fbla-4cb61.firebaseio.com</string>
</dict>
</plist>